@using CookLab.Common
@using CookLab.Models.InputModels.Ingredients

@model IngredientInputModel

@{
    ViewData["Title"] = PageTitles.IngredientCreatePageTitle;
}

<div class="container d-flex flex-column align-items-center">
    <h2 class="my-lg-5 mb-5">@this.ViewData["Title"]</h2>

    <form asp-controller="Ingredients" asp-action="Create" class="form col-md-6 d-flex flex-column">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="VolumeInMlPer100Grams" ></label>
            <input type="number" step="any" asp-for="VolumeInMlPer100Grams" class="form-control" />
            <span asp-validation-for="VolumeInMlPer100Grams" class="text-danger"></span>
        </div>

        <input type="submit" value="Create" class="btn btn-primary align-self-stretch" />

    </form>
</div>