@using CookLab.Common
@using CookLab.Data.Models.Enums;
@using CookLab.Models.InputModels.Recipes;

@model RecipeInputModel

@{
    this.ViewData["Title"] = PageTitles.RecipeCreatePageTitle;
}

<div class="container d-flex flex-column align-items-center mb-md-3">
    <h2 class="my-md-3">@this.ViewData["Title"]</h2>

    <form asp-controller="Recipes" asp-action="Create" method="post" class="form row d-flex flex-column col-md-9" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PreparationTime"></label>
            <input type="number" asp-for="PreparationTime" class="form-control" placeholder="0" value='null' />
            <span asp-validation-for="PreparationTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CookingTime"></label>
            <input type="number" asp-for="CookingTime" class="form-control" placeholder="0" value='null' />
            <span asp-validation-for="CookingTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Portions"></label>
            <input type="number" asp-for="Portions" class="form-control" placeholder="0" value='null' />
            <span asp-validation-for="Portions" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SelectedCategories"></label>
            <select asp-for="SelectedCategories" asp-items="Model.Categories"
                    class="form-control select-multiple-categories" multiple="multiple">
            </select>
            <span asp-validation-for="SelectedCategories" class="text-danger"></span>
        </div>

        <div class="form-group d-flex flex-row row">
            <div class="col-6">
                <label asp-for="SelectedIngredients[0].IngredientId"></label>
                <div id="ingredient-name-container">
                    <div class="form-group">
                        <select asp-for="SelectedIngredients[0].IngredientId" asp-items="Model.Ingredients"
                                class="form-control select-ingredients">
                            <option></option>
                        </select>
                        <span asp-validation-for="SelectedIngredients[0].IngredientId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <label asp-for="SelectedIngredients[0].WeightInGrams"></label>
                <div id="ingredient-weight-container">
                    <div class="form-group">
                        <input type="number" step="any" asp-for="SelectedIngredients[0].WeightInGrams" class=" form-control" placeholder="0" />
                        <span asp-validation-for="SelectedIngredients[0].WeightInGrams" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <label asp-for="SelectedIngredients[0].PartOfRecipe"></label>
                <div id="ingredient-part-container">
                    <div class="form-group">
                        <select asp-for="SelectedIngredients[0].PartOfRecipe" asp-items="@Html.GetEnumSelectList<IngredientPartOfRecipe>()"
                                class="form-control select-partOfRecipe">
                            <option></option>
                        </select>
                        <span asp-validation-for="SelectedIngredients[0].PartOfRecipe" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class=" btn btn-secondary" id="btn-add-ingredient">Add new ingredient</button>
        </div>

        <div class="form-group">
            <label asp-for="Preparation"></label>
            <textarea asp-for="Preparation" class="form-control" placeholder=""></textarea>
            <span asp-validation-for="Preparation" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Notes"></label>
            <textarea asp-for="Notes" class="form-control" placeholder=""></textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CookingVesselId"></label>
            <select asp-for="CookingVesselId" asp-items="Model.CookingVessels" class="form-control select-cookingVessel">
                <option></option>
            </select>
            <span asp-validation-for="CookingVesselId" class="text-danger"></span>
        </div>

        <div class="form-group input-group">
            <label asp-for="Images" class="custom-file-label"></label>
            <input asp-for="Images" class="custom-file-input" multiple />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>

        <input type="submit" value="Create" class="btn btn-primary" />
    </form>
</div>

@section Scripts{
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script>document.onload = recipeIngredientsDynamicSelectList();</script>
} 