@using CookLab.Data.Models.Enums;
@using CookLab.Models.InputModels.CookingVessel

@model CookingVesselInputModel

@{
    ViewData["Title"] = string.Format(PageTitles.CookingVesselCreatePageTitle);
}

<div class="container d-flex flex-column align-items-center mb-md-3">
    <h2 class="my-md-3">@ViewData["Title"]</h2>

    <form asp-controller="CookingVessels" asp-action="Create" method="post" class="form col-md-6 d-flex flex-column">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="my-3">
            <label asp-for="Form"></label>
            <select asp-for="Form" class="form-control" asp-items="@Html.GetEnumSelectList<PanForm>()">
                <option selected disabled value="0">Choose cooking vessel form...</option>
            </select>
            <span asp-validation-for="Form" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FormsCount"></label>
            <input asp-for="FormsCount" class="form-control" />
            <span asp-validation-for="FormsCount" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Diameter"></label>
            <input type="number" step="any" asp-for="Diameter" class="form-control" />
            <span asp-validation-for="Diameter" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SideA"></label>
            <input type="number" step="any" asp-for="SideA" class="form-control" />
            <span asp-validation-for="SideA" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SideB"></label>
            <input type="number" step="any" asp-for="SideB" class="form-control" />
            <span asp-validation-for="SideB" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Height"></label>
            <input type="number" step="any" asp-for="Height" class="form-control" />
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Area"></label>
            <input type="number" step="any" asp-for="Area" class="form-control" />
            <span asp-validation-for="Area" class="text-danger"></span>
        </div>

        <div class=" row">
            <input type="submit" value="Create" class="btn btn-primary col m-3" />
            <a class="btn btn-secondary col m-3" asp-controller="CookingVessels" asp-action="All">Back</a>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/site.min.js" asp-append-version="true"></script>
} 