#cookieConsent {
    color: #000;
    background-color: #FFF;
}

#mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 1rem;
}

.container-main-masthead {
    height: 100%;
}

.main-masthead {
    height: 100%;
}

footer {
    bottom: 3.2rem;
}

.footer-link {
    color: #ffffffb3;
}

    .footer-link:hover {
        color: #fff;
        text-decoration: underline;
    }

body {
    color: #fff;
}

main a {
    background-color: #fff9;
    border-radius: 5px;
    padding: 3px 5px;
}

.nav {
    background-color: #fff9;
    border-radius: 5px;
}

#email-verification.btn-link {
    padding: 2px 6px;
    background-color: #fff9;
    margin-top: 5px;
}
