/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/*Cookie consent stypes
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/*Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


#cookieConsent {
    color: #000;
    background-color: #FFF;
}

#mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 1rem;
}

div.masthead {
    position: relative;
}

.container-main-masthead {
    height: 100%;
}

.main-masthead {
    height: 100%;
}

footer {
    bottom: 3.2rem;
}

.footer-link {
    color: #ffffffb3;
}

    .footer-link:hover {
        color: #fff;
        text-decoration: underline;
    }

body {
    color: #fff;
}

main a {
    background-color: #ffffff99;
    border-radius: 5px;
    padding: 3px 5px;
}

.nav {
    background-color: #ffffff99;
    border-radius: 5px;
}

#email-verification.btn-link {
    padding: 2px 6px;
    background-color: #ffffff99;
    margin-top: 5px;
}

.btn-outline-primary {
    background-color: #fff;
}

.portfolio-box {
    border-radius: 50%;
    width: inherit;
    height: 250px;
    overflow: hidden;
    display: block;
}

.portfolio-image {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.portfolio-box-caption {
    color: #ffffffcc;
    padding: 3px 5px;
    margin: 0;
    border-radius: 5px;
    background-color: #B2BEB5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

    .portfolio-box-caption .project-name {
        transition: all 0.3s ease-out;
        margin: 0;
    }

        .portfolio-box-caption .project-name:hover {
            color: #fff;
            font-size: 1.5rem;
            transform: scale(1.1);
            cursor: pointer;
        }

.category-admin-details {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container {
    position: relative;
    border-radius: 10px;
    min-height: 150px;
    height: calc(50vh);
    max-height: 250px;
    min-width: 250px;
    width: 100%;
    max-width: 500px;
}

.img-container-recipe {
    position: relative;
    border-radius: 10px;
    height: 200px;
}

.img-container-sidebar {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    height: 80px;
    width: 80px;
}

.img-sidebar {
    position: absolute;
    width: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-category {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.select2-container {
    color: #495057;
}

    .select2-container .select2-selection--single {
        height: 36px;
    }

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 36px;
    padding-top: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

a.navbar-brand {
    word-break: keep-all;
}

.list-group-label-item {
    font-weight: 600;
    color: black;
}

.card-img-container {
    position: relative;
    overflow: hidden;
    min-width: 150px;
    width: 100%;
    max-width: 250px;
    height: 200px;
    border-radius: 5px;
}

.card-img-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.carousel-item {
    height: 300px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.carousel-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    cursor: pointer;
}

    a:hover {
        text-decoration: none;
    }

#desiredPortions {
    width: 3rem;
}

.i-hoverable {
    margin: 0 10px;
    transition: all 0.3s ease-out;
}

    .i-hoverable:hover {
        cursor: pointer;
        color: #f4623a;
        transform: scale(1.25);
    }

.recipe-preparation {
    word-break: break-word;
}

.bg-white-transparent {
    background-color: #ffffff99;
}

.sidebar-recipe-info {
    bottom: 0;
}

.most-popular-recipes {
    border-top: 5px double #f4623a;
}

span.created-on {
    font-size: 0.85rem;
    bottom: 0;
}

a.author-recipe {
    font-size: 1rem;
    color: white;
    transition: all 0.3s ease-out;
}

    a.author-recipe:hover {
        color: #ffd800;
        text-decoration: none;
        font-size: 1.1rem;
    }

a.recipe-title {
    transition: all 0.3s ease-out;
}

    a.recipe-title:hover {
        font-size: 1.3rem;
    }

.container-fluid {
    width: 100% !important;
}

.card {
    max-width: 310px;
}

a.dropdown-item {
}

    a.dropdown-item:hover {
    }

#dropdownRecipes .dropdown-item.nav-link {
    color: #212529 !important;
    transition: all 0.3s ease-out;
}

    #dropdownRecipes .dropdown-item.nav-link:hover {
        color: #f4623a !important;
    }

    #dropdownRecipes .dropdown-item.nav-link:active {
        color: #212529 !important;
    }

.bg-custom {
    background-color: #ffffffcc;
}

.img-container-httpError {
    position: relative;
    border-radius: 10px;
    min-height: 200px;
    max-height: 400px;
    min-width: 200px;
    width: 100%;
    max-width: 400px;
}

@media (min-width: 576px) {
    .img-container-httpError {
        min-height: 300px;
    }
}

@media (min-width: 768px) {
    .img-container-httpError {
        min-height: 350px;
    }
}

@media (min-width: 992px) {
    .img-container-httpError {
        min-height: 400px;
    }
}

@media(min-width: 1400px) {
    #recipe-details-side {
        flex: 0 0 41.666666666666% !important;
        max-width: 41.666666666666% !important;
    }
}

.img-httpError {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.text-info {
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffffcc;
    color: #dc3545 !important;
}

td#login-provider-Google,
td#login-provider-Microsoft {
    color: #ffffff;
}

code.recovery-code {
    padding: 10px;
    border-radius: 10px;
    background-color: #e83e8c;
    color: #ffffff;
}

.btn-default {
    color: #ffffff !important;
}


@media (min-width: 992px) {
    .title-margin-top {
        margin-top: 3rem !important;
    }
}
