/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/*Cookie consent stypes
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/*Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


#cookieConsent {
    color: #000;
    background-color: #FFF;
}

#mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 1rem;
}

div.masthead {
    position: relative;
}

.container-main-masthead {
    height: 100%;
}

.main-masthead {
    height: 100%;
}

footer {
    bottom: 3.2rem;
}

.footer-link {
    color: #ffffffb3;
}

    .footer-link:hover {
        color: #fff;
        text-decoration: underline;
    }

body {
    color: #fff;
}

main a {
    background-color: #fff9;
    border-radius: 5px;
    padding: 3px 5px;
}

.nav {
    background-color: #fff9;
    border-radius: 5px;
}

#email-verification.btn-link {
    padding: 2px 6px;
    background-color: #fff9;
    margin-top: 5px;
}

.btn-outline-primary {
    background-color: #fff;
}

.portfolio-box {
    border-radius: 50%;
    width: inherit;
    height: 250px;
    overflow: hidden;
    display: block;
}

.portfolio-image {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.portfolio-box-caption {
    color: #fffc;
    padding: 3px 5px;
    margin: 0;
    border-radius: 5px;
    background-color: #B2BEB5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

    .portfolio-box-caption .project-name {
        transition: all 0.3s ease-out;
        margin: 0;
    }

        .portfolio-box-caption .project-name:hover {
            color: #fff;
            font-size: 1.5rem;
            transform: scale(1.1);
            cursor: pointer;
        }

.category-admin-details {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container {
    position: relative;
    border-radius: 10px;
    height: 250px;
    width: 500px;
}

.image-category {
    position: absolute;
    width: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.select2-container {
    color: #495057;
}

    .select2-container .select2-selection--single {
        height: 36px;
    }

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 36px;
    padding-top: 4px;
}
