@using CookLab.Models.ViewModels.Categories

@model CategoryViewModel

@{
    this.ViewData["Title"] = Model.Name;
 }

<div class="row h-100 align-items-center justify-content-center text-center">
    <div class="col-lg-10 align-self-end">
        <h2 class="text-white font-weight-bold">@this.ViewData["Title"]</h2>
        <hr class="divider my-4" />
    </div>
    <div class="col-lg-8 align-self-baseline">
        <div class="mb-5 overflow-hidden img-container mx-auto">
            <img src="~/@Model.ImageUrl" class="img-fluid image-category" />
        </div>
        <div class="row">
            <a class="btn btn-primary col m-3" asp-area="" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger col m-3" asp-area="" asp-controller="Categories" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            <a class="btn btn-secondary col m-3" asp-area="" asp-controller="Categories" asp-action="All">Back to Categories</a>
        </div>
    </div>
</div>
