@using CookLab.Common
@using CookLab.Models.ViewModels.Categories

@model CategoryEditViewModel

@{
    this.ViewData["Title"] = string.Format(PageTitles.EditCategoryPageTitle, Model.Name);
}

<div class="container d-flex flex-column align-items-center">
    <h2 class="my-lg-3 mb-3">@this.ViewData["Title"]</h2>

    <div class="mb-3 overflow-hidden img-container mx-auto">
        <img src="~/@Model.ImageUrl" class="img-fluid image-category" />
    </div>

    <form asp-controller="Categories" asp-action="Edit" method="post" class="form col-md-6 d-flex flex-column" enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group input-group">
            <label asp-for="Image" class="custom-file-label"></label>
            <input asp-for="Image" class="custom-file-input" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class=" form-group row">
            <input type="submit" value="Edit" class="btn btn-primary col m-3" />
            <a class="btn btn-secondary col m-3" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.Id">Back</a>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>document.onload = showUploadedFilesNames();</script>
}